.carrousel {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.products {
  text-align: center;
  margin-left: 5rem;
  padding-top: 0.5rem;
}

.subtitle {
  width: 100%;
  font-family: 'NunitoBold';
  text-align: left;
  font-size: 18pt;
  margin-bottom: 0.3rem;
}