.container {
    margin: 1.5rem;
    text-align: left;
}

.thumbnail {
    width: 7rem;
    border-radius: 7px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.title {
    font-family: 'NunitoBold';
    font-size: 12pt !important;
    margin-top: 0.4rem;
    margin-bottom: 0.4em;
}

.price {
    font-family: 'NunitoSemiBold';
    font-size: 11pt !important;
}