<div class="login-page">
    <div class="form">
        <div style="text-align: left; margin-bottom: 1.4rem; font-family: 'NunitoSemiBold'; font-size: 12pt;"
            (click)="goBack()" class="button">Regresar</div>
        <div class="title">Reporte de ventas</div>
        <div style="text-align: left;">Presione el botón para descargar el reporte de ventas.</div>
        <div class="buttons">
            <button (click)="downloadReport()" class="download-button primary-button"
                mat-raised-button>Descargar</button>
        </div>
    </div>
</div>